* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family:'Segoe UI';
    }

html{
    height: 100%;
}

body {
	min-height:87%;
    border-bottom: 50px solid #008CBA;
    border-top: 50px solid #008CBA;
}

.title{
    margin-top: 25px;
    margin-bottom: 3vw;
    color: #0c2c83;
    text-align: center;
    font-size: 3.2vw;
    font-family: 'Segoe UI';
    font-weight: bold;
}


.title1{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #0c2c83;
    text-align: center;
    font-size: 3.2vw;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.subtitle1{
    margin-top: 0;
    margin-bottom: 0;
    color: #0c2c83;
    text-align: center;
    font-size: 2vw;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.subtitle{
    margin-top: 0;
    margin-bottom: 1.5vw;
    color: #0c2c83;
    text-align: center;
    font-size: 1.87vw;
    font-family: 'Segoe UI';
    font-weight: bold;
}

button {
	display: inline-block;
	border-radius: 4px;
	background-color: #008CBA;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: x-large;
    font-family: 'Segoe UI';
	padding: 0.5vw;
	cursor: pointer;
    margin-bottom: 35px;
    margin-top: 105px;
    margin-left: 10px;
    margin-right: 10px;
    bottom: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: auto;
}


.button1 {
	display: inline-block;
	border-radius: 4px;
	background-color: #008CBA;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: large;
    font-family: 'Segoe UI';
	padding: 0.5vw;
	cursor: pointer;
    margin-bottom: 35px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    bottom: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: auto;
}


.button2 {
	display: inline-block;
	border-radius: 4px;
	background-color: #008CBA;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: large;
    font-family: 'Segoe UI';
	padding: 0.5vw;
	cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    bottom: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: auto;
}

.candidate{
	border-radius: 25px; 
	border: 2px solid #008CBA; 
	padding: 2vw;
	margin-bottom: 20px;
	display: inline-block;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label:hover {
    background-color: #009CBA;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

